@charset "utf-8";

body {
  overflow-x: hidden;
  font-family: arial;
  background-color: #ccc;
}
.header{
  position: relative;
  display: flex;
  background: url('../../img/campus1.jpg') center;
  background-size: cover;
  height: 200px;
}
.header-form{
  position: absolute;
  width: 400px;
}
.logout_but{
  float: right;
  width: auto;
  margin: 5px;
  line-height: 30px;
  border: rgba(125,125,125,0) solid 1px;
  background-color: rgba(100,100,100, 0);
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #bbb;
  cursor: pointer;
  transition: .2s;
}
.logout_but:hover{
  border: rgb(125,125,125) solid 1px;
}
.escricoes_but{
  float: left;
  text-decoration: none;
  padding: 1px 6px;
  width: auto;
  margin: 5px;
  line-height: 30px;
  border: rgba(125,125,125,0) solid 1px;
  background-color: rgba(100,100,100, 0);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #bbb;
  cursor: pointer;
  transition: .2s;
}
.escricoes_but:hover{
  border: rgb(125,125,125) solid 1px;
}
.header-logo{
  display: flex;
  margin: auto;
  width: 400px;
  height: 170px;
  background: -webkit-radial-gradient(#e3e3e3 0%, #a1a1a1 100%);
  background: -o-radial-gradient(#e3e3e3 0%, #a1a1a1 100%);
  background: -moz-radial-gradient(#e3e3e3 0%, #a1a1a1 100%);
  background: radial-gradient(#e3e3e3 0%, #a1a1a1 100%);
  box-shadow: 0 0 10px #000;
}
.header-logo-img{
  width: 330px;
  margin: auto;
}
.header-texts{
  position: absolute;
  width: 350px;
  height: 120px;
}
.header-school{
  position: absolute;
  top: 0;
  padding: 10px 0;
  line-height: 15px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: rgb(219, 219, 219);
  text-shadow: 0 0 10px #000;
  border-top: solid 2px rgb(100, 100, 100);
  border-bottom: solid 2px rgb(100, 100, 100);
}
.usuario_name{
  position: absolute;
  bottom: 0;
  width: inherit;
  line-height: 20px;
  font-size: 20px;
  color: #ccc;
  letter-spacing: 2px;
  white-space: nowrap;
}
.partition{
  display: flex;
  height: 300px;
  text-align: center;
}
.partition-h1{
  border-top: 3px solid #999;
  border-bottom: 3px solid #999;
  line-height: 80px;
  margin: auto;
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  word-spacing: 10px;
  color: rgb(40, 45, 78);
}
.partition-nav{
  margin: auto;
}
.partition-nav li{
  display: inline-block;
  border-right: 2px solid #999;
  border-left: 2px solid #999;
  width: 150px;
  padding: 10px;
  margin: 30px;
  transition: .2s;
}
.partition-nav li:hover{
  background-color: #bbb  ;
  border-right: 2px solid rgba(40, 45, 78, 0);
  border-left: 2px solid rgba(40, 45, 78, 0);
}
.partition-nav a{
  text-decoration: none;
  padding: 20px;
  color: #666;
  transition: .2s;
}
.partition-nav  li:hover a{
  color: rgb(40, 45, 78);
}
.content{
  display: block;
  margin-bottom: 20px;
}
.day{
  width: 95vw;
  margin: 0 auto;
  border: 2px solid #000;
  border-bottom: 0;
  border-top: 0;
}
.day:last-child{
  border-bottom: 2px solid #000;
}
.day-date{
  width: inherit;
  text-align: center;
  line-height: 100px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  background-color: rgb(40, 45, 78);
}
.day-date h1{
  font-size: 40px;
  letter-spacing: 5px;
  word-spacing: 10px;
  color: #fff;
  text-transform: uppercase;
}
.day-grid{
  width: inherit;
}
.grid{
  width: inherit;
  height: auto;
  display: flex;
  border-bottom: 2px solid #000;
}
.grid:last-child{
  border: 0;
}
.grid-hour{
  float: left;
  width: 75px;
  padding: auto 0;
  display: flex;
  color: #fff;
  background-color: #222;
  border-right: 2px solid #000;
}
.grid-hour h1{
  margin: auto;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}
.grid-event{
  width: inherit;
  background-color: #eee;
}
.event{
  position: relative;
  text-decoration: none;
  display: flex;
  min-height: 80px;
  color: #000;
  border-bottom: 2px solid #000;
}
/*
.event:last-child{
  border: 0;
}
*/
.event-horario{
  position: absolute;
  text-transform: uppercase;
  top: 10px;
  right: 0;
  padding: 10px 15px;
}
.event-tipo{
  position: absolute;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  padding: 10px 15px;
}
.evento-title{
  width: 800px;
  margin: auto;
  text-align: center;
  font-size: 17px;
  letter-spacing: 1px;
  word-spacing: 5px;
  padding: 20px 0;
}
.event-local{
  position: absolute;
  bottom: 0;
  right: 10px;
  padding: 10px 15px;
}

.modal-title, .modal-body p{
  color: #000;
}

.modal-info {
  background: radial-gradient(#e3e3e3 0%, #a1a1a1 100%);
  box-shadow: 0 0 10px #000;
}

.modal-body{
  height: 80px;
  padding: 20px;
}