body{
	background-color: #da8b2c;
}
*{
    color: #fff;
}
.evento h2{
	background-color: #d86506;
}

.evento{
	color: #FFF;
	font-family: Arial, sans-serif;
	background-color: #aa5912;
}
.description{
	font-size: 16pt;
	background-color: #d86506;
	font-family: Arial, sans-serif;
	text-align: justify;
}
.palestrante, .bioPalestrante{
	background-color: #bb6f28;	
	text-align: justify;
}
.buttonInscrever{
	margin-top: 10px;
	text-align: center;
	padding-top: 10px;
	background-color: #da8b2c;
	border-radius: 5px;
	box-shadow: 5px 5px 50px #a76213;
	color: #fff;
}
.buttonInscrever:hover{
	background-color: #a76213;
	font-weight: bold;
	color: #fff;
}
.bioPalestrante{
	font-family: Arial, sans-serif;
}