body{
	background-color: #3410b7;
}
*{
    color: #fff;
}
.evento h2{
	background-color: #2f119b;
}

.evento{
	color: #FFF;
	font-family: Arial, sans-serif;
	background-color: #230b7a;
}
.description{
	font-size: 16pt;
	background-color: #2f119b;
	font-family: Arial, sans-serif;
	text-align: justify;
}
.palestrante, .bioPalestrante{
	background-color: #230b7a;
	text-align: justify;
}
.buttonInscrever{
	margin-top: 10px;
	text-align: center;
	padding-top: 10px;
	background-color: #230b7a;
	border-radius: 5px;
	box-shadow: 5px 5px 50px  #2f119b;
	color: #fff;
}
.buttonInscrever:hover{
	background-color: #3410b7;
	font-weight: bold;
	color: #fff;
}
.bioPalestrante{
	font-family: Arial, sans-serif;
}