*{
    font-family: 'Monda', sans-serif;
    color: #38667c;
   
}

body{
    background-color: #ededed;
}
.tipo_evento h3{
	font-size: 4em;
    text-transform: uppercase;
}
.info_evento h2, .description{  
     background-color: #e4e4e4;
}
.info_evento h3, .buttonInscrever{
    background-color: #f9f9f9;
    font-size:14pt;
}
.evento{
    text-transform: uppercase;
}
.description{
    font-size: 1.2em;
}
.palestrante{
    background-color: #e4e4e4; 
    font-size: 0.8em;
}
.buttonInscrever:hover{
    font-size:16pt;
    background-color: #ededed;
}

.palestrante:hover{
    background-color: #f9f9f9;