body{
	background-color: #42a14f;
}
*{
    color: #fff;
}
.evento h2{
	background-color: #52E459;
}
.evento h3{
	background-color: #328D37;
}
.evento{
	color: #FFF;
	font-family: Arial, sans-serif;
	background-color: #328D37;
}
.description{
	font-size: 16pt;
	background-color: #52E459;
	font-family: Arial, sans-serif;
	text-align: justify;
}
.palestrante, .bioPalestrante{
	background-color: #2a9939;
	text-align: justify;
}
.buttonInscrever{
	margin-top: 10px;
	text-align: center;
	padding-top: 10px;
	background-color: #2a9939;
	border-radius: 5px;
	box-shadow: 5px 5px 50px #2a9939;
	color: #696969;
}
.buttonInscrever:hover{
	background-color: #00FF00;
	font-weight: bold;
	color: #fff;
}
.bioPalestrante{
	font-family: Arial, sans-serif;
}
