.logo-cefet{
    width: 250px;
}
.cabecalho h4{
  position: relative;
  left: 35px;
  bottom: 50px;
}
.logo-extensao {
    width: 670px;
    padding: 0 200px;
}

.cabecalho td{
  background-color: rgb(40, 45, 78);
  background: -webkit-radial-gradient(#d6d1d1, #ede8e8); /* Safari 5.1 to 6.0 */
  background: -moz-radial-gradient(#d6d1d1, #ede8e8); /* For Firefox 3.6 to 15 */
  background: -o-radial-gradient(#d6d1d1, #ede8e8); /* For Opera 11.6 to 12.0 */
  background: radial-gradient(#d6d1d1, #ede8e8); /* Standard syntax */
}
.cabecalho th{
  background-color: #e2dede;
  background: -webkit-radial-gradient(#bababa, #e2dede); /* Safari 5.1 to 6.0 */
  background: -moz-radial-gradient(#bababa, #e2dede); /* For Firefox 3.6 to 15 */
  background: -o-radial-gradient(#bababa, #e2dede); /* For Opera 11.6 to 12.0 */
  background: radial-gradient(#bababa, #e2dede); /* Standard syntax */
  color: rgb(40, 45, 78);
}
.evento{
  background-color: #fff;
  word-wrap: normal;
}
.evento-nome{
  padding: 10px;
}
.evento th{
  background-color: rgb(40, 45, 78);
  color: #fff;
}
.evento-responsavel{
  width: 600px;
  background-color: #fff;
}
.evento-detalhes th{
  width: 50px;
  padding: 5px;
  background-color: rgb(40, 45, 78);
  color: #fff;
}
.evento-detalhes td{
  background-color: #fff;
  padding: 5px;
  text-align: center;
}
.participantes tr:nth-child(2n) {
  background-color: #eee;
}
.participantes th, .participantes td {
  border: none;
}
.participantes th {
  border-bottom: 1px solid #000;
  background-color: rgb(40, 45, 78);
  color: #fff;
  padding: 5px;
}
.participantes td {
  border-right: 1px solid #000;
  padding: 5px;
  text-align: center;
}
.participantes td:last-child {
  border-right: none;
}

.participante-nome{
  width: 600px;
}
.participante-matricula{
  width: 300px;
}
.participante-assinatura{
  width: 600px;
}
h3{
  position: relative;
  left: 45vw;
  color: rgb(40, 45, 78);
}
